# Incubyte Exercise

Import the libraries.

In [1]:
import os, glob
import mysql
from getpass import getpass
import pandas as pd
from mysql.connector import connect, Error
from sqlalchemy import create_engine

Connect to MySQL and Create Staging Table.

In [2]:
try:
    with connect(
        host="rdsdev.****.us-east-1.rds.amazonaws.com",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="rdsdev",
    ) as connection:                
        create_staging = """
        CREATE TABLE IF NOT EXISTS Staging
        (CustomerName varchar(255) primary key not null,
        CustomerID varchar(18) not null,
        CustomerOpenDate date not null,
        LastConsultedDate date,
        VaccinationType char(5),
        DoctorConsulted char(255),
        State char(5),
        Country char(5),
        PostCode int(5),
        DateOfBirth date,
        ActiveCustomer char(1)
        );
        """
        with connection.cursor(buffered=True) as cursor:
            cursor.execute(create_staging)
        print("Connected & created Staging Table")   
except Error as e:
    print(e)

Connected & created Staging Table

Populate cc DataFrame with Country code top-level domain details.
These values will be used for creating Country specific tables at the end.

In [3]:
cc = pd.read_csv(filepath_or_buffer="cctld.csv",index_col=0)
print(cc.to_string())

               Entity
Domain
IN              India
US       UnitedStates
UK      UnitedKingdom
NZ         NewZealand
RU             Russia
LY              Lybia
CA             Canada
FR             France
JP              Japan

Read all input files and store in a DataFrame.

In [6]:
cwd = os.getcwd()+'\\raw\\'
all_files = glob.glob(os.path.join(cwd, "Input_*.txt"))

df_from_each_file = (pd.read_csv(f,sep="|",index_col = 0) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

print(df.to_string())

    H CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country  DateOfBirth ActiveCustomer
0   D         Amar       12357          20001012           20121013             MVD           Anand    SA      NZ      6031987              A
1   D        Akbar       12348          20100512           20121013             MVD         Bhaskar    TN      RU      6031987              A
2   D      Anthony       23459          20101018           20121013             MVD    Harshvardhan   WAS      RU      6031987              A
3   D        Karan        1345          19781012           20121013             MVD         Jayanti   BOS      LY      6031987              A
4   D        Arjun         125          20050212           20121013             MVD          Sundar   VIC      FR      6031987              A
5   D        Manoj       12357          20001012           20121013             MVD           Anand    SA      CA      6031987              A
6   D       Piyush       12348          20100512           20121013             MVD         Bhaskar    TN      IN      6031987              A
7   D        Nawaz       23459          20101018           20121013             MVD    Harshvardhan   WAS      JP      6031987              A
8   D       Pankaj        1345          19781012           20121013             MVD         Jayanti   BOS      JP      6031987              A
9   D        Richa         125          20050212           20121013             MVD          Sundar   VIC      FR      6031987              A
10  D         Alex      123457          20101012           20121013             MVD            Paul    SA      US      6031987              A
11  D         John      123458          20101012           20121013             MVD            Paul    TN      IN      6031987              A
12  D       Mathew      123459          20101012           20121013             MVD            Paul   WAS      CA      6031987              A
13  D         Matt       12345          20101012           20121013             MVD            Paul   BOS      IN      6031987              A
14  D        Jacob        1256          20101012           20121013             MVD            Paul   VIC      JP      6031987              A

Populate Staging table from DataFrame.

In [7]:
engine = create_engine('mysql+mysqldb://***:***@rdsdev.****.us-east-1.rds.amazonaws.com/rdsdev',connect_args={'ssl': {'activate': True}})
insert = df.drop(columns = ['H'])
insert['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'].astype(str), format='%m%d%Y')
insert.to_sql('Staging', con=engine, if_exists='append', index=False)
engine.dispose()

To make table name based on Country Coulumn and ccTLD values.

In [8]:
result = pd.merge(df, cc, how="inner", left_on='Country',right_on='Domain') #Basically, this is INNER JOIN.
print(result.to_string())

    H CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country  DateOfBirth ActiveCustomer        Entity
0   D         Amar       12357          20001012           20121013             MVD           Anand    SA      NZ      6031987              A    NewZealand
1   D        Akbar       12348          20100512           20121013             MVD         Bhaskar    TN      RU      6031987              A        Russia
2   D      Anthony       23459          20101018           20121013             MVD    Harshvardhan   WAS      RU      6031987              A        Russia
3   D        Karan        1345          19781012           20121013             MVD         Jayanti   BOS      LY      6031987              A         Lybia
4   D        Arjun         125          20050212           20121013             MVD          Sundar   VIC      FR      6031987              A        France
5   D        Richa         125          20050212           20121013             MVD          Sundar   VIC      FR      6031987              A        France
6   D        Manoj       12357          20001012           20121013             MVD           Anand    SA      CA      6031987              A        Canada
7   D       Mathew      123459          20101012           20121013             MVD            Paul   WAS      CA      6031987              A        Canada
8   D       Piyush       12348          20100512           20121013             MVD         Bhaskar    TN      IN      6031987              A         India
9   D         John      123458          20101012           20121013             MVD            Paul    TN      IN      6031987              A         India
10  D         Matt       12345          20101012           20121013             MVD            Paul   BOS      IN      6031987              A         India
11  D        Nawaz       23459          20101018           20121013             MVD    Harshvardhan   WAS      JP      6031987              A         Japan
12  D       Pankaj        1345          19781012           20121013             MVD         Jayanti   BOS      JP      6031987              A         Japan
13  D        Jacob        1256          20101012           20121013             MVD            Paul   VIC      JP      6031987              A         Japan
14  D         Alex      123457          20101012           20121013             MVD            Paul    SA      US      6031987              A  UnitedStates

Create country specific tables and insert data.

In [9]:
for index, row in cc.iterrows():
    new_table = "Table_"+ row['Entity']
    temp = result.drop(columns = ['H'])
    temp['DateOfBirth'] = pd.to_datetime(result['DateOfBirth'].astype(str), format='%m%d%Y')
    insert = temp[temp["Entity"] == row['Entity']]
    insert = insert.drop(columns = ['Entity'])
    engine = create_engine('mysql+mysqldb://***:***@rdsdev.****.us-east-1.rds.amazonaws.com/rdsdev',connect_args={'ssl': {'activate': True}})
    if insert.empty == False:    
        insert.to_sql(new_table, con=engine, if_exists='append', index=False)
        engine.dispose()
        print("Table Name: "+ new_table) #just for showing output.
        print(insert.to_string()) #just for showing output.

Table Name: Table_India
   CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
8        Piyush       12348          20100512           20121013             MVD         Bhaskar    TN      IN  1987-06-03              A
9          John      123458          20101012           20121013             MVD            Paul    TN      IN  1987-06-03              A
10         Matt       12345          20101012           20121013             MVD            Paul   BOS      IN  1987-06-03              A
Table Name: Table_UnitedStates
   CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
14         Alex      123457          20101012           20121013             MVD            Paul    SA      US  1987-06-03              A
Table Name: Table_NewZealand
  CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
0         Amar       12357          20001012           20121013             MVD           Anand    SA      NZ  1987-06-03              A
Table Name: Table_Russia
  CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
1        Akbar       12348          20100512           20121013             MVD         Bhaskar    TN      RU  1987-06-03              A
2      Anthony       23459          20101018           20121013             MVD    Harshvardhan   WAS      RU  1987-06-03              A
Table Name: Table_Lybia
  CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
3        Karan        1345          19781012           20121013             MVD         Jayanti   BOS      LY  1987-06-03              A
Table Name: Table_Canada
  CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
6        Manoj       12357          20001012           20121013             MVD           Anand    SA      CA  1987-06-03              A
7       Mathew      123459          20101012           20121013             MVD            Paul   WAS      CA  1987-06-03              A
Table Name: Table_France
  CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
4        Arjun         125          20050212           20121013             MVD          Sundar   VIC      FR  1987-06-03              A
5        Richa         125          20050212           20121013             MVD          Sundar   VIC      FR  1987-06-03              A
Table Name: Table_Japan
   CustomerName  CustomerID  CustomerOpenDate  LastConsultedDate VaccinationType DoctorConsulted State Country DateOfBirth ActiveCustomer
11        Nawaz       23459          20101018           20121013             MVD    Harshvardhan   WAS      JP  1987-06-03              A
12       Pankaj        1345          19781012           20121013             MVD         Jayanti   BOS      JP  1987-06-03              A
13        Jacob        1256          20101012           20121013             MVD            Paul   VIC      JP  1987-06-03              A